<div class="navbar">
	<div class="navbar-inner">
		<a class="brand" href="#"></a>
		<ul class="nav">
			<li><a href="#">Home</a></li>
		</ul>
		<ul class="nav pull-right">
      <li class="divider-vertical"></li>
      <li class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#"><%= render_current_user_name %> <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Setting</a></li>
	        <li><%= link_to "View site", root_path %></li>
          <li class="divider"></li>
          <li>
          	<%= link_to "Sign out", destroy_user_session_path, 
          														:method => :delete %>
          </li>
        </ul>
      </li>
    </ul>
	</div>
</div>