<div class="navbar">
	<div class="navbar-inner">
		<a class="brand" href="#"></a>
		<ul class="nav">
			<li><a href="#">Home</a></li>
		</ul>
		<ul class="nav pull-right">
      <li class="divider-vertical"></li>
      <li class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#"><%= render_current_user_name %> <b class="caret"></b></a>
        <ul class="dropdown-menu">
        	<% if current_user %>
	          <li><a href="#">Setting</a></li>
	          <% if can? :manage, :all %>
		          <li><%= link_to "Administration", admin_root_path %></li>
	          <% end %>
	          <li class="divider"></li>
	          <li>
	          	<%= link_to "Sign out", destroy_user_session_path, 
	          														:method => :delete %>
	          </li>
          <% else %>
	          <li><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>
        </ul>
      </li>
    </ul>
	</div>
</div>